*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(140, 106, 76);
    color: antiquewhite;
}

.nav-links{
    /*Quitar viñetas */
    list-style: none;
    margin: 0;
    padding: 0%;
    display: flex;
    color: antiquewhite;
}

.nav-links li{
    margin-left: 20px;
    background-color: rgb(140, 106, 76);
    color: antiquewhite ;
}

.hero{
    background-image: url("https://img.freepik.com/foto-gratis/vista-granos-cafe-tostados_23-2150698861.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 100px 0;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h2{
    font-size: 3rem;
    margin-bottom: 10px;
}

/*Seccion de productos*/
.featured-products{
    padding: 50px;
    text-align: center;
    background-color: bisque;
}

.product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 300px;
    margin-bottom: 30px;
}

.product img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10%;
}

/* Estilos del pie de página*/
footer{
    background-color: rgb(140, 106, 76);
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
}